@model Web_miniCRM.Domain.Entity.DepartmentViewModelFiltering


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h1 class="text-center1" style="margin-left:-80px;">Счета отдела</h1>
</head>

<div class="button-container">
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetByDepartmentId", "HeadDepartment", new { id = Model.HeadDepartment.HeadDepartmentId })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Показатели отдела по менеджерам
	</button>
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetManagersDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Менеджеры отдела
	</button>
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetCompanyDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Компании отдела
	</button>
	<button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("GetCallsDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Звонки отдела
	</button>
	<button class="custom-button" type="button" id="myButton3" onclick="location.href='@Url.Action("GetMeetingsDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Встречи отдела
	</button>
	<button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetInvoicesDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Счета отдела
	</button>

	<form asp-action="GetInvoicesDepartment" method="get">
		<input type="hidden" name="departmentNumber" value="@Model.HeadDepartment.DepartmentNumber" />
		<label>Счета за период</label>
		<input type="date" name="startDateRange" placeholder="От" />
		<input type="date" name="endDateRange" placeholder="До" />
		<button type="submit" class="custom-button" style="margin-top: 5px">Фильтр</button>
	</form>
</div>

<div class="table-container-Manager_Invoices_Calls_Meetings" style="margin-left: -100px; margin-top: -40px;">
	<table>
		<thead>
			<tr>
				<label>Отгруженные счета</label>
				<th>Номер</th>
				<th>Компания</th>
				<th>Дата счета</th>
				<th>Сумма</th>
				<th>Менеджер</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var invoice in Model.FilteredInvoices.Where(i => i.ShippedInvoiced == true))
			{
				<tr>
					<td>@invoice.InvoiceId</td>
					<td><a href="@Url.Action("GetCompanyInfo", "Company", new { id = invoice.CompanyId })">@invoice.Company.CompanyName</a></td>
					<td>@invoice.InvoiceDate</td>
					<td>@invoice.InvoiceItems.Sum(item => item.Product.Price * item.Quantity)</td>
					<td><a href="@Url.Action("GetManagerInfoById", "Manager", new { id = invoice.Manager.ManagerId })" class="manager-link" data-manager-id="@invoice.Manager.ManagerId">@invoice.Manager.FirstName @invoice.Manager.LastName</a></td>
					<td>
						<div>
							<button class="custom-button" type="button" id="ButtonUpdate" onclick="location.href='@Url.Action("GetInvoiceInfo", "Invoice", new { id = invoice.InvoiceId })'">Изменить</button>
							<button class="custom-button" type="button" id="ButtonDelete" onclick="location.href='@Url.Action("DeleteInvoice", "Invoice", new { id = invoice.InvoiceId, managerId = invoice.ManagerId})'">Удалить</button>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="table-container-Manager_Invoices_Calls_Meetings" style="margin-left: -100px;">
	<table>
		<thead>
			<tr>
				<label>На согласовании</label>
				<th>Номер</th>
				<th>Компания</th>
				<th>Дата счета</th>
				<th>Сумма</th>
				<th>Менеджер</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var invoice in Model.FilteredInvoices.Where(i => i.ShippedInvoiced == false))
			{
				<tr>
					<td>@invoice.InvoiceId</td>
					<td><a href="@Url.Action("GetCompanyInfo", "Company", new { id = invoice.CompanyId })">@invoice.Company.CompanyName</a></td>
					<td>@invoice.InvoiceDate</td>
					<td>@invoice.InvoiceItems.Sum(item => item.Product.Price * item.Quantity)</td>
					<td><a href="@Url.Action("GetManagerInfoById", "Manager", new { id = invoice.Manager.ManagerId })" class="manager-link" data-manager-id="@invoice.Manager.ManagerId">@invoice.Manager.FirstName @invoice.Manager.LastName</a></td>
					<td>
						<div>
							<button class="custom-button" type="button" id="ButtonUpdate" onclick="location.href='@Url.Action("GetInvoiceInfo", "Invoice", new { id = invoice.InvoiceId })'">Изменить</button>
							<button class="custom-button" type="button" id="ButtonDelete" onclick="location.href='@Url.Action("DeleteInvoice", "Invoice", new { id = invoice.InvoiceId, managerId = invoice.ManagerId})'">Удалить</button>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
</div>