@model Web_miniCRM.Domain.Entity.DepartmentViewModelFiltering

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h1 class="text-center1" style="margin-left:-80px;">Встречи отдела</h1>
</head>

<div class="button-container">
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetByDepartmentId", "HeadDepartment", new { id = Model.HeadDepartment.HeadDepartmentId })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Показатели отдела по менеджерам
	</button>
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetManagersDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Менеджеры отдела
	</button>
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetCompanyDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Компании отдела
	</button>
	<button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("GetCallsDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Звонки отдела
	</button>
	<button class="custom-button" type="button" id="myButton3" onclick="location.href='@Url.Action("GetMeetingsDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Встречи отдела
	</button>
	<button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetInvoicesDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Счета отдела
	</button>
	<form asp-action="GetMeetingsDepartment" method="get">
		<input type="hidden" name="departmentNumber" value="@Model.HeadDepartment.HeadDepartmentId" />
		<label>Встречи за период</label>
		<input type="date" name="startDateRange" placeholder="От" />
		<input type="date" name="endDateRange" placeholder="До" />
		<button type="submit" class="custom-button" style="margin-top: 5px">Фильтр</button>
	</form>
</div>

<div class="table-container-Manager_Invoices_Calls_Meetings" style="margin-left: -100px; margin-top: -40px;">
	<table>
		<thead>
			<tr>
				<label>Встречи</label>
				<th>Дата</th>
				<th>Компания</th>
				<th>Адрес</th>
				<th>Контактное лицо</th>
				<th>Детали</th>
				<th>Менеджер</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var meeting in Model.FilteredMeetings)
			{
				<tr>
					<td>@meeting.Date</td>
					<td><a href="@Url.Action("GetCompanyInfo", "Company", new { id = meeting.CompanyId })" class="company-link" data-company-id="@meeting.CompanyId">@meeting.Company.CompanyName</a></td>
					<td>@meeting.Address</td>
					<td>@meeting.NameContactPerson</td>
					<td>@meeting.Details</td>
					<td><a href="@Url.Action("GetManagerInfoById", "Manager", new { id = meeting.Manager.ManagerId })" class="manager-link" data-manager-id="@meeting.Manager.ManagerId">@meeting.Manager.FirstName @meeting.Manager.LastName</a></td>
					<td>
						<div>
							<button class="custom-button" type="button" id="ButtonUpdate" onclick="location.href='@Url.Action("ChangingDataMeeting", "Meeting", new { id = meeting.MeetingId})'">Изменить</button>
							<button class="custom-button" type="button" id="ButtonDelete" onclick="location.href='@Url.Action("DeleteMeeting", "Meeting", new { id = meeting.MeetingId, managerId = meeting.ManagerId})'">Удалить</button>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
</div>
