@using Microsoft.AspNetCore.Identity
@using Web_miniCRM.Domain.Entity
@model Web_miniCRM.Domain.Entity.Manager
@inject SignInManager<ApplicationUser> SignInManager

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h1 class="text-center1" style="margin-left:-80px;">@Model.FirstName @Model.LastName</h1>
</head>

<div class="button-container">
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetManagerInfoById", "Manager", new { id = Model.ManagerId })'" class="manager-link" data-manager-id="@Model.ManagerId">
		Информация о менеджере
	</button>
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetManagerInfoCompany", "Manager", new { id = Model.ManagerId })'" class="manager-link" data-manager-id="@Model.ManagerId">
		Компании
	</button>
	<button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("GetManagerInfoCalls", "Manager", new { id = Model.ManagerId })'" class="manager-link" data-manager-id="@Model.ManagerId">
		Звонки
	</button>
	<button class="custom-button" type="button" id="myButton3" onclick="location.href='@Url.Action("GetManagerInfoMeetings", "Manager", new { id = Model.ManagerId })'" class="manager-link" data-manager-id="@Model.ManagerId">
		Встречи
	</button>
	<button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetManagerInfoInvoice", "Manager", new { id = Model.ManagerId })'" class="manager-link" data-manager-id="@Model.ManagerId">
		Счета
	</button>
	<div class="table-container-Manager_Invoices_Calls_Meetings" style="margin-top: 126px;">
		<table>
			<thead>
				<tr>
					<label>Информация о менеджере</label>
					<th>Отдел</th>
					<th>Номер телефона</th>
					<th>Email</th>
					<th>Руководитель</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td>@Model.DepartmentNumber</td>
						<td>@Model.NumberPhone</td>
						<td>@Model.Email</td>
				
					@if (User.IsInRole("headdepartment") || User.IsInRole("admin"))
					{
						<td><a href="@Url.Action("GetByDepartmentId", "HeadDepartment", new { id = Model.HeadDepartmentId })">@Model.HeadDepartment.FirstName @Model.HeadDepartment.LastName</a></td>
					}
					@if (User.IsInRole("manager"))
					{
						<td>@Model.HeadDepartment.FirstName @Model.HeadDepartment.LastName</td>
					}
					
					</tr>
			</tbody>
		</table>
	</div>
</div>
