@model Web_miniCRM.Domain.Entity.Meeting

<form asp-action="UpsertMeeting" method="post">
	<input type="hidden" name="CompanyId" value="@Model.CompanyId" />
	<input type="hidden" name="ManagerId" value="@Model.ManagerId" />
	<input type="hidden" name="MeetingId" value="@Model.MeetingId" />

	<div class="main-container">
		<div class="form-group">
			<label for="Date">Дата:</label>
			<input type="datetime" id="Date" name="Date" value="@Model.Date.ToString("dd.MM.yyyy")" />
		</div>
		<div class="form-group">
			<label for="Address">Адрес</label>
			<input type="text" id="Address" name="Address" value="@Model.Address" />
		</div>
		<div class="form-group">
			<label for="NameContactPerson">Контактное лицо:</label>
			<input type="text" id="NameContactPerson" name="NameContactPerson" value="@Model.NameContactPerson" />
		</div>
		<div class="form-group">
			<label for="Details">Информация:</label>
			<input type="text" id="Details" name="Details" value="@Model.Details" />
		</div>
		<button type="submit">Сохранить изменения</button>
	</div>
</form>
