@model List<Web_miniCRM.Domain.Entity.Call>
@{
	int ManagerId = Model[0].ManagerId;
}
<div class="button-container">
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetManagerInfoCompany", "Manager", new { id = ManagerId })'" class="manager-link" data-manager-id="ManagerId">
		Компании
	</button>
	<button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("GetManagerInfoCalls", "Manager", new { id = ManagerId })'" class="manager-link" data-manager-id="ManagerId">
		Звонки
	</button>
	<button class="custom-button" type="button" id="myButton3" onclick="location.href='@Url.Action("GetManagerInfoMeetings", "Manager", new { id = ManagerId })'" class="manager-link" data-manager-id="ManagerId">
		Встречи
	</button>
	<button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetManagerInfoInvoice", "Manager", new { id = ManagerId })'" class="manager-link" data-manager-id="ManagerId">
		Счета
	</button>
	<button class="custom-button additional-button" type="button" id="myButton5" onclick="location.href='@Url.Action("SomeAction", "SomeController")'">
		Новая Кнопка
	</button>
	<div class="table-container-Manager_Invoices_Calls_Meetings">
		<table>
			<thead>
				<tr>
					<label>Звонки</label>
					<th>Дата</th>
					<th>Компания</th>
					<th>Номер</th>
					<th>Контактное лицо</th>
					<th>Детали</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var managerCompany in Model)
				{
					<tr>
						<td>@managerCompany.Date</td>
						<td><a href="@Url.Action("GetCompanyInfo", "Company", new { id = managerCompany.CompanyId })" class="company-link" data-company-id="@managerCompany.CompanyId">@managerCompany.Company.CompanyName</a></td>
						<td>@managerCompany.PhoneNumber</td>
						<td>@managerCompany.NameContactPerson</td>
						<td>@managerCompany.Details</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
