@model List<Web_miniCRM.Domain.Entity.Call>
@{
	int ManagerId = Model[0].ManagerId;
}
<div class="button-container">
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetManagerInfoCompany", "Manager", new { id = ManagerId })'" class="manager-link" data-manager-id="ManagerId">
		Компании
	</button>
	<button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("GetCallsByManagerId", "Call", new { id = ManagerId })'" class="manager-link" data-manager-id="ManagerId">
		Звонки
	</button>
	<button class="custom-button" type="button" id="myButton3" onclick="location.href='@Url.Action("GetManagerInfoMeetings", "Manager", new { id = ManagerId })'" class="manager-link" data-manager-id="ManagerId">
		Встречи
	</button>
	<button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetManagerInfoInvoice", "Manager", new { id = ManagerId })'" class="manager-link" data-manager-id="ManagerId">
		Счета
	</button>
	<button class="custom-button additional-button" type="button" id="myButton5" onclick="location.href='@Url.Action("CreateCall", "Call", new {id = ManagerId})'">
		Зарегистрировать звонок
	</button>

	<form asp-action="GetCallsDataRange" method="get" style="margin-top: 130px">
		<input type="hidden" name="id" value="@ManagerId" />
		<label>Счета за период</label>
		<input type="date" name="startDateRange" placeholder="От" />
		<input type="date" name="endDateRange" placeholder="До" />
		<button type="submit" class="custom-button" style="margin-top: 5px">Фильтр</button>
	</form>

	<div class="table-container-Manager_Invoices_Calls_Meetings">
		<table>
			<thead>
				<tr>
					<label>Звонки</label>
					<th>Дата</th>
					<th>Компания</th>
					<th>Номер</th>
					<th>Контактное лицо</th>
					<th>Детали</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var call in Model)
				{
					<tr>
						<td>@call.Date</td>
						<td><a href="@Url.Action("GetCompanyInfo", "Company", new { id = call.CompanyId })" class="company-link" data-company-id="@call.CompanyId">@call.Company.CompanyName</a></td>
						<td>@call.PhoneNumber</td>
						<td>@call.NameContactPerson</td>
						<td>@call.Details</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
