@model Web_miniCRM.Domain.Entity.ManagerViewModelFiltering

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h1 class="text-center1" style="margin-left:-80px;">@Model.Manager.FirstName @Model.Manager.LastName</h1>
</head>

<div class="button-container">
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetManagerInfoById", "Manager", new { id = Model.Manager.ManagerId })'" class="manager-link" data-manager-id="@Model.Manager.ManagerId">
		Информация о менеджере
	</button>
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetManagerInfoCompany", "Manager", new { id = Model.Manager.ManagerId })'" class="manager-link" data-manager-id="@Model.Manager.ManagerId">
		Компании
	</button>
	<button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("GetManagerInfoCalls", "Manager", new { id = Model.Manager.ManagerId })'" class="manager-link" data-manager-id="@Model.Manager.ManagerId">
		Звонки
	</button>
	<button class="custom-button" type="button" id="myButton3" onclick="location.href='@Url.Action("GetManagerInfoMeetings", "Manager", new { id = Model.Manager.ManagerId })'" class="manager-link" data-manager-id="@Model.Manager.ManagerId">
		Встречи
	</button>
	<button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetManagerInfoInvoice", "Manager", new { id = Model.Manager.ManagerId })'" class="manager-link" data-manager-id="@Model.Manager.ManagerId">
		Счета
	</button>
	<button class="custom-button additional-button" type="button" id="myButton5" onclick="location.href='@Url.Action("CreateMeeting", "Meeting", new {id = Model.Manager.ManagerId})'">
		Зарегистрировать встречу
	</button>

	<form asp-action="GetManagerInfoMeetings" method="get" style="margin-top: 170px">
		<input type="hidden" name="id" value="@Model.Manager.ManagerId" />
		<label>Встречи за период</label>
		<input type="date" name="startDateRange" placeholder="От" />
		<input type="date" name="endDateRange" placeholder="До" />
		<button type="submit" class="custom-button" style="margin-top: 5px">Фильтр</button>
	</form>

	<div class="table-container-Manager_Invoices_Calls_Meetings">
		<table>
			<thead>
				<tr>
					<label>Встречи</label>
					<th>Дата</th>
					<th>Компания</th>
					<th>Адрес</th>
					<th>Контактное лицо</th>
					<th>Детали</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var meeting in Model.FilteredMeetings)
				{
					<tr>
						<td>@meeting.Date</td>
						<td><a href="@Url.Action("GetCompanyInfo", "Company", new { id = meeting.CompanyId })" class="company-link" data-company-id="@meeting.CompanyId">@meeting.Company.CompanyName</a></td>
						<td>@meeting.Address</td>
						<td>@meeting.NameContactPerson</td>
						<td>@meeting.Details</td>
						<td>
							<div>
								<button class="custom-button" type="button" id="ButtonUpdate" onclick="location.href='@Url.Action("ChangingDataMeeting", "Meeting", new { id = meeting.MeetingId})'">Изменить</button>
								<button class="custom-button" type="button" id="ButtonDelete" onclick="location.href='@Url.Action("DeleteMeeting", "Meeting", new { id = meeting.MeetingId, managerId = meeting.ManagerId})'">Удалить</button>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>