@model List<Web_miniCRM.Domain.Entity.Manager>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h1 class="text-center1">Менеджеры</h1>
	<link rel="stylesheet" href="~/css/styles.css">
</head>

<div class="button-container"">
	<div class="custom-button">
		<button class="custom-button" type="button" id="myButton" onclick="location.href='@Url.Action("CreateManager", "Manager")'">
			Добавить
		</button>
	</div>

	<div class="table-container" style="margin-left: -63px;">
		<table>
			<thead>
				<tr>
					<th>Имя Фамилия</th>
					<th>Отдел</th>
					<th>Номер телефона</th>
					<th>Email</th>
					
				</tr>
			</thead>
			<tbody>
				@foreach (var manager in Model)
				{
					<tr>
						<td><a href="@Url.Action("GetManagerInfoById", "Manager", new { id = manager.ManagerId })" class="manager-link" data-manager-id="@manager.ManagerId">@manager.FirstName @manager.LastName</a></td>
						<td>@manager.DepartmentNumber</td>
						<td>@manager.NumberPhone</td>
						<td>@manager.Email</td>
						<td>
							<div>
								<button class="custom-button" type="button" id="ButtonUpdate" onclick="location.href='@Url.Action("ChangingDataManager", "Manager", new { id = @manager.ManagerId})'">Изменить</button>
								<button class="custom-button" type="button" id="ButtonCreateNewPassword" onclick="location.href='@Url.Action("CreateNewPassword", "Account", new { email = manager.Email, firstname = manager.FirstName, lastname = manager.LastName})'">Сбросить пароль</button>
								<button class="custom-button" type="button" id="ButtonDelete" onclick="location.href='@Url.Action("DeleteManager", "Manager", new { id = @manager.ManagerId, _departmentNumber = @manager.DepartmentNumber})'">Удалить</button>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
