@model Web_miniCRM.Domain.Entity.HeadDepartment

<form asp-action="UpsertHeadDepartment" method="post">
	<input type="hidden" id="Email" name="Email" value="@Model.Email" />
	<input type="hidden" id="HeadDepartmentId" name="HeadDepartmentId" value="@Model.HeadDepartmentId" />

	<div class="main-container">
		<div class="form-group">
			<label for="DepartmentNumber">Отдел:</label>
			<input type="text" id="DepartmentNumber" name="DepartmentNumber" value="@Model.DepartmentNumber" />
		</div>
		<div class="form-group">
			<label for="FirstName">Имя:</label>
			<input type="text" id="FirstName" name="FirstName" value="@Model.FirstName" />
		</div>
		<div class="form-group">
			<label for="LastName">Фамилия:</label>
			<input type="text" id="LastName" name="LastName" value="@Model.LastName" />
		</div>
		<div class="form-group">
			<label for="NumberPhone">Телефонный номер:</label>
			<input type="text" id="NumberPhone" name="NumberPhone" value="@Model.NumberPhone" />
		</div>
		<div class="form-group">
			<label for="Email">Email:</label>
			<input type="text" id="Email" name="Email" value="@Model.Email" />
		</div>
		<button type="submit">Сохранить изменения</button>
	</div>
</form>
