@model Web_miniCRM.Domain.Entity.Company

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h1 class="text-center1" style="margin-left:-80px;">@Model.CompanyName</h1>
</head>


<div class="button-container">
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetCompanyInfo", "Company", new { id = Model.CompanyId})'">
		Информация
	</button>
	<button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("GetCompanyInfoCalls", "Company", new { id = Model.CompanyId })'">
		Звонки
	</button>
	<button class="custom-button" type="button" id="myButton3" onclick="location.href='@Url.Action("GetCompanyInfoMeetings", "Company", new { id = Model.CompanyId })'">
		Встречи
	</button>
	<button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetCompanyInfoInvoices", "Company", new { id = Model.CompanyId })'">
		Счета
	</button>
</div>

<div class="container">
	@if (Model != null && Model.Informations != null)
	{
		@foreach (var item in Model.Informations)
		{
			<p>@item.Details</p>
		}
	}
	else
	{
		<p>Нет доступной информации о клиенте</p>
	}
</div>