@model Web_miniCRM.Domain.Entity.CompanyViewModelFiltering

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h1 class="text-center1" style="margin-left:-80px;">@Model.Company.CompanyName</h1>
</head>

<div class="button-container">
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetCompanyInfo", "Company", new { id = Model.Company.CompanyId})'">
		Информация
	</button>
	<button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("GetCompanyInfoCalls", "Company", new { id = Model.Company.CompanyId })'">
		Звонки
	</button>
	<button class="custom-button" type="button" id="myButton3" onclick="location.href='@Url.Action("GetCompanyInfoMeetings", "Company", new { id = Model.Company.CompanyId })'">
		Встречи
	</button>
	<button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetCompanyInfoInvoices", "Company", new { id = Model.Company.CompanyId })'">
		Счета
	</button>

	<form asp-action="GetCompanyInfoInvoices" method="get">
		<input type="hidden" name="id" value="@Model.Company.CompanyId" />
		<label>Счета за период</label>
		<input type="date" name="startDateRange" placeholder="От" />
		<input type="date" name="endDateRange" placeholder="До" />
		<button type="submit" class="custom-button" style="margin-top: 5px">Фильтр</button>
	</form>

	<div class="table-container-Company_Invoices_Calls_Meetings">
		<table>
			<thead>
				<tr>
					<label>Отгруженные счета</label>
					<th>Номер</th>
					<th>Менеджер</th>
					<th>Дата счета</th>
					<th>Сумма</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var invoice in Model.FilteredInvoices.Where(i => i.ShippedInvoiced == true))
				{
					<tr>
						<td><a href="@Url.Action("GetInvoiceInfo_NoUpd", "Invoice", new { id = invoice.InvoiceId })">@invoice.InvoiceId</a></td>
						<td><a href="@Url.Action("GetManagerInfoById", "Manager", new { id = invoice.ManagerId })">@invoice.Manager.FirstName @invoice.Manager.LastName</a></td>
						<td>@invoice.InvoiceDate</td>
						<td>@invoice.InvoiceItems.Sum(item => item.Product.Price * item.Quantity)</td>
						<td>
							<div>
								<button class="custom-button" type="button" id="ButtonUpdate" onclick="location.href='@Url.Action("GetInvoiceInfo", "Invoice", new { id = invoice.InvoiceId })'">Изменить</button>
								<button class="custom-button" type="button" id="ButtonDelete" onclick="location.href='@Url.Action("DeleteInvoice", "Invoice", new { id = invoice.InvoiceId, managerId = invoice.ManagerId})'">Удалить</button>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="table-container-Company_Invoices_Calls_Meetings">
		<table>
			<thead>
				<tr>
					<label>На согласовании</label>
					<th>Номер</th>
					<th>Менеджер</th>
					<th>Дата счета</th>
					<th>Сумма</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var invoice in Model.FilteredInvoices.Where(i => i.ShippedInvoiced == false))
				{
					<tr>
						<td><a href="@Url.Action("GetInvoiceInfo_NoUpd", "Invoice", new { id = invoice.InvoiceId })">@invoice.InvoiceId</a></td>
						<td><a href="@Url.Action("GetManagerInfoById", "Manager", new { id = invoice.ManagerId })">@invoice.Manager.FirstName @invoice.Manager.LastName</a></td>
						<td>@invoice.InvoiceDate</td>
						<td>@invoice.InvoiceItems.Sum(item => item.Product.Price * item.Quantity)</td>
						<td>
							<div>
								<button class="custom-button" type="button" id="ButtonUpdate" onclick="location.href='@Url.Action("GetInvoiceInfo", "Invoice", new { id = invoice.InvoiceId })'">Изменить</button>
								<button class="custom-button" type="button" id="ButtonDelete" onclick="location.href='@Url.Action("DeleteInvoice", "Invoice", new { id = invoice.InvoiceId, managerId = invoice.ManagerId})'">Удалить</button>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
