@model Web_miniCRM.Domain.Entity.DepartmentViewModelFiltering

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h1 class="text-center1" style="margin-left:-80px;">Звонки отдела</h1>
</head>

<div class="button-container">
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetByDepartmentId", "HeadDepartment", new { id = Model.HeadDepartment.HeadDepartmentId })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Информация о руководителе отдела
	</button>
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetManagersDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Менеджеры отдела
	</button>
	<button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetCompanyDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Компании отдела
	</button>
	<button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("GetCallsDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Звонки отдела
	</button>
	<button class="custom-button" type="button" id="myButton3" onclick="location.href='@Url.Action("GetMeetingsDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Встречи отдела
	</button>
	<button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetInvoicesDepartment", "HeadDepartment", new { departmentNumber = Model.HeadDepartment.DepartmentNumber })'" class="manager-link" data-manager-id="@Model.HeadDepartment.DepartmentNumber">
		Счета отдела
	</button>
	<form asp-action="GetCallsDepartment" method="get">
		<input type="hidden" name="departmentNumber" value="@Model.HeadDepartment.HeadDepartmentId" />
		<label>Звонки за период</label>
		<input type="date" name="startDateRange" placeholder="От" />
		<input type="date" name="endDateRange" placeholder="До" />
		<button type="submit" class="custom-button" style="margin-top: 5px">Фильтр</button>
	</form>
</div>

<div class="table-container-Manager_Invoices_Calls_Meetings" style="margin-top: -40px; margin-left: -100px;">
	<table>
		<thead>
			<tr>
				<label>Звонки</label>
				<th>Дата</th>
				<th>Компания</th>
				<th>Номер</th>
				<th>Контактное лицо</th>
				<th>Детали</th>
				<th>Менеджер</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var call in Model.FilteredCalls)
			{
				<tr>
					<td>@call.Date</td>
					<td><a href="@Url.Action("GetCompanyInfo", "Company", new { id = call.CompanyId })" class="company-link" data-company-id="@call.CompanyId">@call.Company.CompanyName</a></td>
					<td>@call.PhoneNumber</td>
					<td>@call.NameContactPerson</td>
					<td>@call.Details</td>
					<td><a href="@Url.Action("GetManagerInfoById", "Manager", new { id = call.Manager.ManagerId })" class="manager-link" data-manager-id="@call.Manager.ManagerId">@call.Manager.FirstName @call.Manager.LastName</a></td>
					<td>
						<div>
							<button class="custom-button" type="button" id="ButtonUpdate" onclick="location.href='@Url.Action("ChangingDataCall", "Call", new { id = call.CallId})'">Изменить</button>
							<button class="custom-button" type="button" id="ButtonDelete" onsubmit="return confirm('Вы уверены, что хотите удалить этот звонок?');" onclick="location.href='@Url.Action("DeleteCall", "Call", new { id = call.CallId, companyId = call.CompanyId})'">Удалить</button>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
