@model List<Web_miniCRM.Domain.Entity.HeadDepartment>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h1 class="text-center1">Руководители отделов</h1>
	<link rel="stylesheet" href="~/css/styles.css">
</head>

<div class="button-container"">
	<div class="custom-button">
		<button class="custom-button" type="button" id="myButton" onclick="location.href='@Url.Action("CreateHeadDepartment", "HeadDepartment")'">
			Добавить
		</button>
	</div>

	<div class="table-container" style="margin-left: -63px;">
		<table>
			<thead>
				<tr>
					<th>Имя Фамилия</th>
					<th>Отдел</th>
					<th>Номер телефона</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var headDepartment in Model)
				{
					<tr>
						<td><a href="@Url.Action("GetByDepartmentId", "HeadDepartment", new { id = headDepartment.HeadDepartmentId })" class="manager-link" data-manager-id="@headDepartment.HeadDepartmentId">@headDepartment.FirstName @headDepartment.LastName</a></td>
						<td>@headDepartment.DepartmentNumber</td>
						<td>@headDepartment.NumberPhone</td>
						<td>@headDepartment.Email</td>
@* 						<td>
							<div>
								<button class="custom-button" type="button" id="ButtonUpdate" onclick="location.href='@Url.Action("ChangingDataCompany", "Company", new { id = manager.CompanyId})'">Изменить</button>
								<button class="custom-button" type="button" id="ButtonDelete" onclick="location.href='@Url.Action("DeleteCompany", "Company", new { id = manager.CompanyId})'">Удалить</button>
							</div>
						</td> *@
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
