@model Web_miniCRM.Domain.Entity.Call

<form asp-action="UpsertCall" method="post">
	<input type="hidden" name="CompanyId" value="@Model.CompanyId" />
	<input type="hidden" name="CallId" value="@Model.CallId" />
	<input type="hidden" name="ManagerId" value="@Model.ManagerId" />
	<div class="main-container">
		<div class="form-group">
			<label for="Date">Дата:</label>
			<input type="datetime" id="Date" name="Date" value="@Model.Date.ToString("dd.MM.yyyy")" />
		</div>
		<div class="form-group">
			<label for="PhoneNumber">Телефонный номер:</label>
			<input type="text" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" />
		</div>
		<div class="form-group">
			<label for="NameContactPerson">Контактное лицо:</label>
			<input type="text" id="NameContactPerson" name="NameContactPerson" value="@Model.NameContactPerson" />
		</div>
		<div class="form-group">
			<label for="Details">Информация:</label>
			<input type="text" id="Details" name="Details" value="@Model.Details" />
		</div>
		<button type="submit">Сохранить изменения</button>
	</div>
</form>
