@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="button-container">
    <button class="custom-button" type="button" id="myButton" onclick="location.href='@Url.Action("GetCompanies", "Company")'">
        Компании
    </button>
    <button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetHeadDepartments", "HeadDepartment")'">
        Руководители отделов
    </button>
    <button class="custom-button" type="button" id="myButton1" onclick="location.href='@Url.Action("GetProducts", "Product")'">
        Склад
    </button>
@*     <button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("CreateInvoice", "Invoice")'">
        Создать счет
    </button>
    <button class="custom-button" type="button" id="myButton2" onclick="location.href='@Url.Action("GetInvoices", "Invoice")'">
        Вывести все счета
    </button>
    <button class="custom-button" type="button" id="myButton3" onclick="location.href='@Url.Action("CreateProduct", "Product")'">
       Добавить продукт
    </button> *@
    <button class="custom-button" type="button" id="myButton4" onclick="location.href='@Url.Action("GetManagers", "Manager")'">
        Менеджеры
    </button>

    <button class="custom-button" type="button" id="myButton5" onclick="location.href='@Url.Action("Login", "Account")'">
        Авторизация
    </button>

    <button class="custom-button" type="button" id="myButton5" onclick="location.href='@Url.Action("CreateManager", "Manager")'">
        Создание менеджера
    </button>
    <button class="custom-button" type="button" id="myButton6" onclick="location.href='@Url.Action("CreateHeadDepartment", "HeadDepartment")'">
        Создание руководителя отдела
    </button>
    
    <button class="custom-button" type="button" id="myButton6" onclick="location.href='@Url.Action("GetHeadDepartments", "HeadDepartment", new {departmentNumber = 1})'">
        Руководители отделов
    </button>
    <button class="custom-button" type="button" id="myButton6" onclick="location.href='@Url.Action("GetManagersDepartment", "HeadDepartment", new {departmentNumber = 1})'">
        Менеджеры 1 отдела
    </button>
</div>