@model dynamic

<form asp-action="UpsertItem" method="post">

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

    <label for="InvoiceDate">Дата счета:</label>
    <label>@Model.Invoice.InvoiceDate?.ToString("yyyy-MM-dd")</label>

    <input type="hidden" id="InvoiceId" name="InvoiceId" value="@Model.Invoice.InvoiceId" />
    <input type="hidden" id="CompanyId" name="CompanyId" value="@Model.Invoice.CompanyId" />

        <div id="product-container">
            @for (int i = 0; i < Model.Invoice.InvoiceItems.Count; i++)
            {
                <label>@Model.Invoice.InvoiceItems[i].Product.Name</label>
                <label>@Model.Invoice.InvoiceItems[i].Quantity</label>
            }
        </div>
        <p>Информация по счету:</p>
        @if (Model.Invoice.Informations.Count > 0)
        {
        <label>@Model.Invoice.Informations[0].Details</label>
        }
    </div>
    <button type="submit" name="action" value="CreateExelInvoice" style="margin-left: 123px;">Создать Excel</button>
    <button type="button" id="myButton" onclick="location.href='@Url.Action("GetCompanyInfoInvoices", "Company", new {id = Model.Invoice.CompanyId})'">Вернуться к счетам</button>
</form>